

<!-- <script type="text/javascript" charset="utf-8" src="assets/jquery.tubular.1.0.js"></script> -->

</head>

<div class="main-div">
  <h1 class="title">Tap Laddin </h1>
  <p class="description">Coming Soon</p>





</div>
<div class="video">


<script>
$(function() {
    $('.video').tubular({videoId: 'K2k_j7UPUiE'}); // where idOfYourVideo is the YouTube ID.
});
</script>
</div>
