// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-div {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index:99999;
  color:red;
  position:absolute;
  margin-left: auto;
  width: 100%;
  text-align: center;
  font-family:"Courier New", Courier, monospace;
  font-size:14px;
}
.laddin{
  width:160px;
}
.title{

}

body{
  margin:0px !important;

  background-color: #222 !important;
  height:200px;
  background-size: 100% auto; /* Fill width, retain proportions */



}
.carousel {
  min-width:100%;
  cursor: url(laddinwebsite.png), auto ;

}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display:inline;
  min-width:100% !important;
  height:auto !important;


}
.carousel-inner{

}
.carousel-caption{
  position:fixed;
  margin-bottom:-15px;
  left:0;
  right:0;
}
h1 {
  color:white;
}

img.appstore:active {
  filter: none;
  -webkit-filter: blur(1px);
}
img.appstore:hover {
  filter: none;
  -webkit-filter: blur(1px);
}
h1{
  font-size:28px;
  font-family: "Courier New", Courier, monospace;
}
.appstore{
  width:155px;
  height:60px;
  margin-top:5px;
  border-radius:10px;
  cursor:pointer;
}
.carousel-caption.logodiv{
  top:5px !important;
  bottom:none !important;
  min-width: 100%;
  left:0%;
}
.logo {
  margin-left:5%;
  width:100%;
  cursor:pointer;

  z-index:9999;
  -webkit-animation-name:logo;
-webkit-animation-duration:2s;
-webkit-animation-iteration-count:infinite;
-webkit-transition-timing-function:linear /* Safari and Chrome */


}

.logo:hover{
  -webkit-transform: scale(1.1);
}
.social {
  width:100%;
}
.social img {
  width:60px;
  cursor:pointer;
  opacity: 1;

}
.anim{
  z-index:9999;
  position:absolute;
}
.social img:hover {
filter: none;
-webkit-filter: blur(1px);
}
.social img:active {
filter: none;
-webkit-filter: blur(1px);
}
@-webkit-keyframes logo {
  50% {
-webkit-transform: scale(.7);
  }

}
@-webkit-keyframes laddin-x {
  0% {
    left:-10%;
    -webkit-animation-timing-function:linear;

  }
  2%{
    background-image:image-url('laddinwebsite.png');

  }
  6%{
    background-image:image-url('laddinwebsite1.png');

  }
  10%{
background-image:image-url('laddinwebsite.png');

  }
  11%{
background-image:image-url('laddinwebsite1.png');

  }
  18%{
background-image:image-url('laddinwebsite.png');

  }
  19%{
background-image:image-url('laddinwebsite.png');

  }
  42%{
    background-image:image-url('laddinwebsite.png');

  }
  46%{
    background-image:image-url('laddinwebsite1.png');

  }
  50%{
background-image:image-url('laddinwebsite.png');

  }
  51%{
background-image:image-url('laddinwebsite1.png');

  }
  58%{
background-image:image-url('laddinwebsite.png');

  }
  59%{
background-image:image-url('laddinwebsite.png');

  }
//   20%{
// background-image:image-url('laddinwebsite1.png');
//
//   }
//   21%{
//     background-image:image-url('laddinwebsite.png');
//
//   }
//   30%{
// background-image:image-url('laddinwebsite1.png');
//
//   }
//   31%{
//     background-image:image-url('laddinwebsite.png');
//
//   }
//   40%{
// background-image:image-url('laddinwebsite1.png');
//
//   }
//   41%{
// background-image:image-url('laddinwebsite.png');
//
//   }
//   45%{
// background-image:image-url('laddinwebsite1.png');
//
//   }
//   46%{
// background-image:image-url('laddinwebsite.png');
//
//   }
//   51%{
//     background-image:image-url('laddinwebsite1.png');
//
//   }
//   52%{
// background-image:image-url('laddinwebsite.png');
//
//   }
//   70%{
// background-image:image-url('laddinwebsite1.png');
//
//   }
//   71%{
// background-image:image-url('laddinwebsite.png');
//
//   }
//   80%{
// background-image:image-url('laddinwebsite1.png');
//
//   }81%{
// background-image:image-url('laddinwebsite.png');
//
//   }
//   90%{
// background-image:image-url('laddinwebsite.png');
//
//   }
//   91%{
// background-image:image-url('laddinwebsite.png');
//
//   }
//   91%{
// background-image:image-url('laddinwebsite.png');
//
//   }


  80% {
    left:110%;
    -webkit-animation-timing-function:linear;
  }
  100% {
    left:110%;
    -webkit-animation-timing-function:linear;
  }
}
@-webkit-keyframes high {
  0% {
    top:30%;

  }
  20% {
    top:40%;

  }
  40% {
    top:42%;

  }
  60% {
    top:40%;

  }
  80% {
    top:50%;

  }
  100% {
    top:50%;

  }
}
@-webkit-keyframes shroom {
  0% {
    top:30%;


  }
  20% {
    top:40%;

  }


  40% {
    top:40%;

  }
  60% {
    top:45%;

  }
  70% {
    top:35%;

  }
  80% {
    top:25%;

  }
  100% {
    top:25%;

  }
}
@-webkit-keyframes drink {
  0% {
    top:40%;

  }
  20% {
    top:40%;

  }
  40% {
    top:45%;

  }
  60% {
    top:50%;

  }
  70% {
    top:45%;

  }
  80% {
    top:40%;

  }
  100% {
    top:40%;

  }
}
#tune{
  display:none;}
#laddin {
  position:absolute;
  z-index:1000;
  display:none;
  background-image:image-url('laddinwebsite.png');
  width:120px;
  height:140px;

}
#wrap{
  position:absolute;
  z-index:10;
  -webkit-animation-name:wrap;
-webkit-animation-duration:6s;
-webkit-animation-iteration-count:infinite;
  top:70%;
  left:30%;
  -webkit-animation-duration: 3s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
     -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-animation-name: swing;
    animation-name: swing;
}
.wrap{
  width:70px;
  height:90px;
}
#wrap1{
  position:absolute;
  z-index:10;

  top:35%;
  left:70%;
  -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
     -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
}
.wrap1{
  width:70px;
  height:90px;
}
#laddin.ready {
  -webkit-animation-duration:6s;
  -webkit-animation-iteration-count:infinite;
  display:block;
}
#laddin.ready.levelShroom {
  -webkit-animation-name:shroom,laddin-x;
}
#laddin.ready.levelHigh {
  -webkit-animation-name:high,laddin-x;
}
#laddin.ready.levelDrink {
  -webkit-animation-name:drink,laddin-x;
}
@-webkit-keyframes swing {
    20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: top center; }
    20% { -webkit-transform: rotate(15deg); }
    40% { -webkit-transform: rotate(-10deg); }
    60% { -webkit-transform: rotate(5deg); }
    80% { -webkit-transform: rotate(-5deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@keyframes swing {
    20% { transform: rotate(15deg); }
    40% { transform: rotate(-10deg); }
    60% { transform: rotate(5deg); }
    80% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}
@media screen and (min-width : 760px){
  .logo {
    margin-left:5%;
    width:60%;
  }
}

@media screen and (max-width : 1100px){
  .carousel-inner > .item > img, .carousel-inner > .item > a > img{

    width:auto;
    height: auto;
    max-width: 100%;
    background-size: auto auto; /* Fill width, retain proportions */

  }
  .laddin{
    width:160px;
  }

}
@media screen and (max-width : 460px){
  h1{
    font-size:22px;
  }
  #wrap{
    display:none;
  }
}
.contact{
  font-size:20px;
  clear:both;
  color:white;
  text-decoration:underline;
  font-family:"Courier New", Courier, monospace;
  &:hover {
    color:gold;
  }

}
