// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-div {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index:99999;
    color:red;
    position:absolute;
    margin-left: auto;
width: 100%;
text-align: center;
font-family:"Courier New", Courier, monospace;
font-size:14px;
}
.laddin{
  width:160px;
}
.title{

}
body{
  margin:0px !important;

  background-color: #222 !important;
  height:200px;
  background-size: 100% auto; /* Fill width, retain proportions */



}
.carousel {
  min-width:100%;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display:inline;
min-width:100% !important;
  height:auto !important;

}
.carousel-inner{

}
@media screen and (max-width : 1200px){
  .carousel-inner > .item > img, .carousel-inner > .item > a > img{

  width:auto;
    height: auto;
  max-width: 100%;
  background-size: auto auto; /* Fill width, retain proportions */

}
.laddin{
  width:160px;
}
}
.appstore{
  width:160px;
  height:60px;
  margin-top:5px;
}
